@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #000000 #737373;
}

body {
  overflow: hidden;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  @apply bg-zinc-600;
}

*::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
  border: 1px solid rgb(161 161 170);
}

/* react datetimepicker styling */
.react-datetime-picker {
  @apply bg-zinc-900;
}

.react-calendar {
  @apply bg-zinc-900;
}

.react-calendar button:enabled:hover {
  @apply bg-zinc-950;
}

.react-calendar__tile:disabled {
  @apply text-zinc-800;
}

select option {
  @apply bg-zinc-900;
}

/* to fix offset while dragging inside non-static position parent */
/* .draggable {
  left: auto !important;
  top: auto !important;
} */
