@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(161 161 170);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  @apply bg-zinc-600;
}

*::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
  border: 1px solid rgb(161 161 170);
}

/* react datetimepicker styling */
.react-datetime-picker {
  @apply bg-zinc-900;
}

.react-calendar {
  @apply bg-zinc-900;
}

.react-calendar button:enabled:hover {
  @apply bg-zinc-950;
}

.react-calendar__tile:disabled {
  @apply text-zinc-800;
}

select option {
  @apply bg-zinc-900;
}

.main {
  height: calc(100vh - 80px); /* fallback */
  height: calc(100svh - 80px);
}
